{% extends "masterpage.html" %}


{% block ContentHolder %}


    <div class="container">
        <h3>Döküman Yükle</h3>
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="dosya">Dosya Ekle</label>
            <input type="file" id="dosya" name="dosya" placeholder="Lütfen Dosya Seçiniz" multiple>


            <input type="submit" value="Gönder">
        </form>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {{ errorString |safe }}
            </div>
        </div>
    </div>



{% endblock ContentHolder %}