{% extends "masterpage.html" %}

{% block ContentHolder %}


    <div class="container">
        <h3>Switch - port Sorgulama</h3>
        <form action="#" method="post">
            {% csrf_token %}
            <label for="swname">Switch Seçiniz</label>
            <select id="swname" name="swSelect">
                <option value="0"> Switch seçiniz
                </option>
                {% for item in swNameList %}
                    <option value="{{ item.id }}"
                            {% if swSelect == item.id %}selected="selected" {% endif %}>   {{ item.sw_name }} </option>
                {% endfor %}
            </select>

            {% if portlist %}
                <label for="portname">Port Seçiniz</label>
                <select id="portname" name="portSelect">
                    <option value="0"> Port seçiniz
                    </option>
                    {% for item in portlist %}

                        <option value="{{ item.id }}"
                                {% if portSelect == item.id %}selected="selected" {% endif %}>   {{ item.port }} </option>
                    {% endfor %}
                </select>
            {% endif %}

            <input type="submit" value="Gönder">
        </form>


        {{ portdata.speed }}
        {{ portdata.status }}
        {{ portdata.mac }}

        <br>
        {{ scriptResponse }}
        <br>
        <br>
        <br>
        <br>

    </div>



{% endblock ContentHolder %}