{% extends "masterpage.html" %}

{% block ContentHolder %}


    <div class="container">
        <h3>Switch - port Sorgulama</h3>
        <form action="#" method="post">
            {% csrf_token %}
            <label for="swname">Switch Seçiniz</label>
            <select id="swname" name="swSelect">
                <option value="0"> Switch seçiniz
                </option>
                {% for item in swNameList %}
                    <option value="{{ item.id }}"
                            {% if swSelect == item.id %}selected="selected" {% endif %}>   {{ item.sw_name }} </option>
                {% endfor %}
            </select>

            <div id="portArea" style="display: none;">
                <label for="portname">Port Seçiniz</label>
                <select id="portname" name="portSelect">
                    <option value="0"> Port seçiniz</option>

                </select>

            </div>
            <input type="submit" value="Gönder">
        </form>


        {{ portdata.speed }}
        {{ portdata.status }}
        {{ portdata.mac }}

        <br>
        {{ scriptResponse }}
        <br>
        <br>
        <br>
        <br>

    </div>


    {#  Django dan çekilen veri ile Select değişimi  #}
    <script>
        var swPortTable = "{{ swporttabledata|safe }}";
        var jsonSwPortTable = JSON.parse(swPortTable.replaceAll("'", '"'));
        $(document).on('change', '#swname', function (event) {
            var filteredPortList = jsonSwPortTable.filter((value) => {
                return parseInt(value.sw_id) === parseInt(event.target.value);
                // == => type kontrolü yapmaz örnek:  1 == "1" => true
                // === => type kontrolü yapar örnek: 1 === "1" => false
               // if (value.sw_id == event.target.value) {
               //     return true;
               // }
            });
            if (filteredPortList.length > 0) {
                var html = '<option value="0">Port Seçiniz</option>';
                // Örnek 1 For Dögüsü
               // for (var item of filteredPortList) {
               //     html += '<option value="' + item.id + '">' + item.port + '</option>';
               // }
                // Örnek 2 For Dögüsü
                filteredPortList.forEach(function (item) {
                    html += '<option value="' + item.id + '">' + item.port + '</option>';
                })

                $('#portname').html(html);
                portArea.style.display = 'block';
            } else {
                portArea.style.display = 'none';
            }
        });

    </script>

    {#  ajax ile apiden çekilen veri ile Select değişimi  #}
   {% comment %} <script>
        var portArea = $('#portArea')[0];
        $(document).on('change', '#swname', function (event) {

            var request = $.ajax({
                method: 'GET',
                url: '/sw/api/get-port/',
                data: {
                    "switch_id": event.target.value
                }
            })
            request.done(function (response) {
                var jsonResponse = JSON.parse(response);
                if (jsonResponse.status == true) {
                    var protData = jsonResponse.data;
                    // 1.Ekleme Yöntemi için :
                    // $('#portname').empty().append($('<option>').val('0').text('Port seçiniz'));
                    // 2. Yöntem İçin :
                    var html = '<option value="0">Port Seçiniz</option>';
                    for (var item of protData) {
                        // 1.Eklem Yöntemi :
                        // $('#portname').append($('<option>').val(item.id).text(item.port));
                        //2. Yöntem
                        html += '<option value="' + item.id + '">' + item.port + '</option>';
                    }
                    $('#portname').html(html);
                    portArea.style.display = 'block';
                } else {
                    portArea.style.display = 'none';
                }
            })


        });
    </script>{% endcomment %}




{% endblock ContentHolder %}
