{% extends "masterpage.html" %}
{% load globalfunction %}

{% block ContentHolder %}

    <div class="container">

        <div class="row">
            <div class="col-10">
                <h2 class="text-center"><u>Müşteri Listesi</u></h2><br>
            </div>
            <div class="col-2">
                <select name="size" id="size" style="width: 50%;">
                    <option value="5">5</option>
                    <option selected="selected" value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                <button onclick="changeSize()" type="button" class="btn btn-info">Git</button>
            </div>
        </div>

        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>
                    <input type="text" placeholder="İsim Ara">
                </th>
                <th>
                    <input type="text" placeholder="Vlan Ara">
                </th>
                <th>
                    <input type="text" id="ipAra" placeholder="Ip Ara">
                </th>
                <th>
                    <input type="text" id="switchAra" placeholder="Switch Ara">
                </th>
            </tr>
            <tr>
                <th class="custom-table-head">İsim</th>
                <th class="custom-table-head">Vlan</th>
                <th class="custom-table-head">Ip</th>
                <th class="custom-table-head">Switch</th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for item in data %}
                <tr class="django-data">
                    <td>{{ item.name|hideCustomerName:'*' }}</td>
                    <td class="text-center">{{ item.vlan }}</td>
                    <td class="text-center">{{ item.ip }}</td>
                    <td class="text-center">{{ item.switch }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" id="previousPage">
                    <a class="page-link" style="cursor: pointer" onclick="previousPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for item in 'y'|ljust:pageCount %}
                    <li class="page-item" id="page-{{ forloop.counter }}">
                        <a class="page-link"
                           href="/musteri/musteri-listele/?page={{ forloop.counter }}&size={{ request|getSizeFromParams }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}


                {#                <li class="page-item"><a class="page-link" href="/musteri/musteri-listele/?page=2">2</a></li>#}
                {#                <li class="page-item"><a class="page-link" href="/musteri/musteri-listele/?page=3">3</a></li>#}


                <li class="page-item" id="nextPage">
                    <a class="page-link" style="cursor: pointer" onclick="nextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>



    <script>
        var totalPageCount =
        {{ pageCount }}
        var urlParametreleri = new URLSearchParams(window.location.search)
        // var search = window.location.search;
        // var page = search.split('&')[0].split('=')[1];
        // var size = search.split('&')[1].split('=')[1];
        var page = urlParametreleri.get('page');
        var size = urlParametreleri.get('size');

        if (page == undefined) {
            page = 1;
        }

        if (size == undefined) {
            size = 10
        }


        function previousPage() {
            if (parseInt(page) - 1 >= 1) {
                window.location.href = '/musteri/musteri-listele/?page=' + (parseInt(page) - 1) + '&size=' + size
            }
        }

        function nextPage() {
            if (parseInt(totalPageCount) >= (parseInt(page) + 1)) {
                window.location.href = '/musteri/musteri-listele/?page=' + (parseInt(page) + 1) + '&size=' + size
            }
        }


        $(document).ready(function ($) {
            if (parseInt(page) === 1) {
                $('#previousPage')[0].classList.add('disabled');
            }

            if (parseInt(page) === parseInt(totalPageCount)) {
                $('#nextPage')[0].classList.add('disabled');
            }

            $('#page-' + page)[0].classList.add('active');

            $('#size').children().each(function (index, item) {
                item.selected = false;
                if (parseInt(item.value) === parseInt(size)) {
                    item.selected = true;
                }
            });

        });

        function changeSize() {
            // window.location.href = window.location.href + '&size=' + $('#size').val()
            urlParametreleri.set('size', $('#size').val());
            window.location.href = '/musteri/musteri-listele/?' + urlParametreleri.toString();
        }

    </script>


    <script>
        var ipKeyword = '';
        var swKeyword = '';

        $(document).on('keyup', '#ipAra', function (event) {
            console.log(event.target.value);
            ipKeyword = event.target.value;

            $('.js-data').each(function (index, item) {
                item.remove();
            });
            if (event.target.value.length >= 2) {
                var request = $.ajax({
                    method: 'GET',
                    url: '/musteri/api/musteri-filter/',
                    data: {
                        ipKeyword: event.target.value,
                        swKeyword: swKeyword
                    }
                })
                request.done(function (response) {
                    var jsonresponse = JSON.parse(response);
                    console.log(jsonresponse);

                    var filteredData = jsonresponse.data;

                    $('.django-data').each(function (index, item) {
                        item.style.display = 'none';
                    });


                    var table = $('.table')[0];
                    for (var item of filteredData) {
                        var row = table.insertRow(2);
                        row.classList.add("js-data");
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        cell1.innerHTML = item.name;
                        cell2.innerHTML = item.vlan;
                        cell2.classList.add('text-center');
                        cell3.innerHTML = item.ip;
                        cell3.classList.add('text-center');
                        cell4.innerHTML = item.switch;
                        cell4.classList.add('text-center');
                    }
                })

            } else {
                $('.django-data').each(function (index, item) {
                    item.style.display = 'table-row';
                });

            }


        });

        $(document).on('keyup', '#switchAra', function (event) {
            console.log(event.target.value);
            swKeyword = event.target.value;
            $('.js-data').each(function (index, item) {
                item.remove();
            });
            if (event.target.value.length >= 1) {
                var request = $.ajax({
                    method: 'GET',
                    url: '/musteri/api/musteri-filter/',
                    data: {
                        swKeyword: event.target.value,
                        ipKeyword: ipKeyword
                    }
                })
                request.done(function (response) {
                    var jsonresponse = JSON.parse(response);
                    console.log(jsonresponse);

                    var filteredData = jsonresponse.data;

                    $('.django-data').each(function (index, item) {
                        item.style.display = 'none';
                    });


                    var table = $('.table')[0];
                    for (var item of filteredData) {
                        var row = table.insertRow(2);
                        row.classList.add("js-data");
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        cell1.innerHTML = item.name;
                        cell2.innerHTML = item.vlan;
                        cell2.classList.add('text-center');
                        cell3.innerHTML = item.ip;
                        cell3.classList.add('text-center');
                        cell4.innerHTML = item.switch;
                        cell4.classList.add('text-center');
                    }
                })

            } else {
                $('.django-data').each(function (index, item) {
                    item.style.display = 'table-row';
                });


            }


        });

    </script>


{% endblock ContentHolder %}