<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Türk Telekom</title>
</head>


<body>

<form action="#" method="post">
    {% csrf_token %}

    <select name="selectedDc">
        {% for item in dcData %}
            <option value="{{ item.id }}">   {{ item.name }} ({{ item.location }})</option>
        {% endfor %}
        <option value="yeniEkle">Yeni Veri Merkezi Ekle</option>
    </select>

    <button type="submit">Gönder</button>
</form>

<br>
<br>
<br>

<!--<h1>TEST</h1>-->


{% if showForm == True %}
    <form action="/add-new-dc/" method="POST">
        {% csrf_token %}
        <label>DC Adı</label>
        <input type="text" name="dcname">
        <label>Lokasyon</label>
        <input type="text" name="dclocation">
        <label>Tip</label>
        <select name="type">
            <option value="internal">internal</option>
            <option value="external">external</option>
        </select>
        <label>Domain</label>
        <select name="domain">
            <option value="mobil">mobil</option>
            <option value="fixed">fixed</option>
            <option value="broadband">broadBand</option>
        </select>
    <button type="submit">Ekle</button>
    </form>
{% else %}
    <table>
    <thead>
    <th>Id</th>
    <th>Adı</th>
    <th>Lokasyon</th>
    <th>Domain</th>
    <th>Tip</th>
    </thead>
    <tbody>
    {% if filterData %}
        <tr>
            <td>{{ filterData.id }}</td>
            <td>{{ filterData.name }}</td>
            <td>{{ filterData.location }}</td>
            <td>{{ filterData.domain }}</td>
            <td>{{ filterData.tip }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                Değer Bulunamadı.
            </td>
        </tr>
    {% endif %}


    {#     {% for item in dcData %}#}
    {#        <tr>#}
    {#            <td>{{ item.id }}</td>#}
    {#            <td>{{ item.name }}</td>#}
    {#            <td>{{ item.location }}</td>#}
    {#            <td>{{ item.domain }}</td>#}
    {#            <td>{{ item.tip }}</td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
    </tbody>
</table>
{% endif %}




</body>


</html>