<!DOCTYPE html>
<html>
<head>
    <title>Türk Telekom Portal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
    {#    <link  href="/static/lib/bootstrap/css/bootstrap.css">#}
    {#    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


    <link href="/static/css/style.css" rel="stylesheet"/>

</head>
<body class="w3-light-grey">

<!-- Top container -->

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
        <i class="fa fa-bars"></i>  Menu
    </button>
    <span class="w3-bar-item w3-right">TT Portal</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
    <br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="/static/img/avatar2.png" class="w3-circle w3-margin-right" style="width:50px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span>Hoşgeldin, <strong>{{ request.user.username }}</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            <a href="/logout/" class="w3-bar-item w3-button"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Portal</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
           onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Menüyü Kapat</a>
        <a href="/" class="w3-bar-item w3-button w3-padding {% if request.path == '/' %}w3-blue{% endif %}"><i
                class="fa fa-home" aria-hidden="true"></i>  Anasayfa</a>
        <a href="/sw/swPortSelect/"
           class="w3-bar-item w3-button w3-padding {% if request.path == '/sw/swPortSelect/' %}w3-blue{% endif %}"><i
                class="fa fa-eye fa-fw"></i>  Switch -
            Port Filtrele</a>
        <a href="/sw/dokuman/"
           class="w3-bar-item w3-button w3-padding {% if request.path == '/sw/dokuman/' %}w3-blue{% endif %}"><i
                class="fa fa-cloud-upload" aria-hidden="true"></i>  Döküman Ekle</a>
        <a href="/musteri/musteri-listele/"
           class="w3-bar-item w3-button w3-padding  {% if request.path == '/musteri/musteri-listele/' %}w3-blue{% endif %}"><i
                class="fa fa-bullseye fa-fw"></i>  Müşteri Listesi</a>


        <a href="/musteri/musteri-ekle/"
           class="w3-bar-item w3-button w3-padding  {% if request.path == '/musteri/musteri-ekle/' %}w3-blue{% endif %}"><i
                class="fa fa-diamond fa-fw"></i>  Müşteri Ekle</a>


        <a href="/musteri/musteri-revize-et/"
           class="w3-bar-item w3-button w3-padding   {% if request.path == '/musteri/musteri-revize-et/' %}w3-blue{% endif %}"><i
                class="fa fa-bell fa-fw"></i>  Müşteri Revize Et</a>


        <a href="/musteri/musteri-data-table/" class="w3-bar-item w3-button w3-padding {% if request.path == '/musteri/musteri-data-table/' %} w3-blue {% endif %}"><i class="fa fa-bank fa-fw"></i>  Müşteri Data Table</a>

        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    {% block ContentHolder %}

    {% endblock ContentHolder %}
</div>

<script>
    // Get the Sidebar
    // JavaScript Dilinde eleman idsine göre Element Çekme
    // var mySidebar = document.getElementById("mySidebar");
    // jquery Dilinde eleman idsine göre Element Çekme
    var mySidebar = $('#mySidebar')[0];

    // Get the DIV with overlay effect
    // var overlayBg = document.getElementById("myOverlay");
    var overlayBg = $('#myOverlay')[0];


    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }


    $(document).ready(function () {
        // . işareti ..... class ına sahip elemanları getirir
        $('.select-2-yap').select2();
    });


</script>

</body>
</html>
